 
/* --------------------------------------------
	
	main.css : main style file
	Project : Empathy
	Author : pixelwars 
	
	---
	
	CONTEXT:
	
	1. BASE - @base
		1.1 ELEMENTS
		1.2 FONTS
		1.3 TYPOGRAPHY
	2. FORMS - @forms
	3. COMMON - @common
	4. LAYOUT - @layout
	5. MODULES - @modules
	6. THEME - @theme
	
   -------------------------------------------- */
   
   
   
/*  --------------------------------------------

	1. BASE (@base) - base html elements
	
    -------------------------------------------- */

/* ----- 1.1 ELEMENTS ----- */   
*,
*:after,
*::before {
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	}
html {
	font-size: 100%; -webkit-font-smoothing: antialiased;
	}
html,
body {
 	position: relative; width: 100%; height: 100%;
	}
body {
 	 font-size: 1em; line-height: 1.6; -webkit-text-size-adjust: none;
	}
a {
 	color: #096; text-decoration: none; outline: none;
	}
a:hover,
a:focus {
	text-decoration: none; outline: none;
	}
a:hover {
 	color: #5BCF80
	}
iframe {
 	border: none
	}
ul {
 	list-style: square
	}
img {
 	max-width: 100%; height: auto;
	}

/* ----- 1.2 FONTS ----- */ 
/* BODY */
body,
input,
textarea,
select {
 	font-family: 'Roboto', sans-serif;
	}
	
/* HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6,
.filters,
.nav-menu,
th,
dt,
.button,
input[type=submit],
button,
label,
.tab-titles {
 	font-family: "Montserrat", serif;
	}
	
/* FONTELLO ICONS */
.social li a,
.toggle h4:before,
.selector:before,
.checker span:before,
.radio span:before,
.uploader span.action:before,
.menu-toggle:before  {
    font-family:fontello; font-style:normal; font-weight:400; speak:none; display:inline-block; text-decoration:inherit; text-align:center; font-variant:normal; text-transform:none;
    }
	
/* PE 7S ICONS */
.mask,
.site-alert:before,
.portfolio-nav a:before,
.hentry .entry-header:before,
.gallery-item a:after {
	display: inline-block; font-family: 'Pe-icon-7-stroke'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
	}

/* ----- 1.3 TYPOGRAPHY ----- */
/* headings and paragraphs  */
h1 {
 	font-size: 1.80em; margin: 0.8em 0 0.4em 0; line-height: 1.2; letter-spacing: -2px;
	}
h2 {
 	font-size: 1.20em; margin: 1.0em 0 0.6em 0; line-height: 1.3; letter-spacing: -1px;
	}
h3 {
 	font-size: 1.00em; margin: 1.0em 0 .6em 0;
	}
h4 {
 	font-size: 0.75em; margin: 2.0em 0 .6em 0;
	}
h5 {
 	font-size: 0.75em; margin: 1.0em 0 .6em 0;
	}
h6 {
 	font-size: 0.75em; margin: 1.0em 0 .6em 0;
	}
p {
 	margin: 0 0 1.2em 0; line-height: 1.5;
	}
/* blockquote  */
blockquote {
 	position: relative; margin: 1.6em 0; padding: 0 .8em; text-align: center; font-size: 1.4em; line-height: 1.2; font-weight: bold; letter-spacing: -1px;
	}
blockquote p {
	line-height: 100%;
	}
blockquote cite {
 	display: block; font-size: 14px; padding-right: 1em; margin-top: 1em; font-style: normal; font-weight: 400; color: #B7C6C9; letter-spacing: 0;
	}
hr {
 	padding: .6em 0 1em 0; margin-bottom: 3em; outline: 0; border-width: 0 0 2px 0; border-style: solid; border-color: #eee;
	}
/* tables  */
table {
 	font-size: .875em; margin-bottom: 3em; text-align: center;
	}
tr th {
 	padding: .8em 1em; font-size: 12px; font-weight: bold; border-bottom: 2px solid #DDE4E6; text-transform: uppercase;
	}
tr td {
 	color: #6A7686; padding: .8em 1em .6em 1em; border-bottom: 1px solid #eee;
	}
tfoot tr td {
 	border-bottom: 0
	}
tr:nth-child(odd) td {
 	background: #FAFCFD;
	}
/* code and pre  */
code,
pre {
 	padding: 0 3px 2px; margin-bottom: 4em; font-family: Monaco, Menlo, Consolas, "Courier New", monospace; font-size: 12px; color: #333333; white-space: pre; overflow: auto;
	}
code {
 	display: inline-block; margin: 0 .4em; padding: 1px 6px; background: #fff; border: 1px solid #DDE4E6; box-shadow: 1px 1px 0 #fff, 2px 2px 0 #DDE4E6;
	}
/* lists  */
ol,
ul {
 	margin: .2em 0 1em 0;
	}
ul {
 	list-style: disc;
	}
dt {
 	margin-bottom: .4em; font-size: 12px; font-weight: bold;
	}
dd {
	padding-bottom: 1em; margin-left: 1.4em;
	}
/* Bootstrap Grid Fix */
@media (max-width:767px){
	.col-xs-6:nth-child(2n+1) { clear: left; }
}


/*  --------------------------------------------

	2. FORMS (@forms) - form elements
	
    -------------------------------------------- */
form p {
 	position: relative; margin: 1.6em 0;
	}
label {
 	display: block; font-size: 11px; margin-bottom: .2em; font-weight: bold; color: rgba(28, 38, 43, 0.7); text-transform: uppercase;
	}
input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]),
textarea,
select,
.selector,
.uploader {
 	padding: .7em .8em; width: 100%; max-width: 100%; font-size: 14px; color: #6A7686; border: 2px solid rgba(28, 38, 43, 0.15); border-radius: 0; background: none; -webkit-appearance: none; -webkit-tap-highlight-color: transparent; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;
	}
input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]):focus,
textarea:focus,
input:focus,
select:focus,
div.uploader:hover {
 	border-color: rgba(28, 38, 43, 0.4); outline: 0;
	}
select {
 	min-width: 262px;
	}
textarea {
 	width: 100%; min-width: 262px; min-height: 12em;
	}
.inline-label {
 	display: inline-block; margin-right: 2em; font-weight: 400; color: #6A7686; letter-spacing: 0;
	}
/* uniform  */
div.selector.disabled,
div.checker.disabled,
div.radio.disabled {
 	opacity: .4
	}
div.selector {
 	font-size: 14px; padding: .4em; width: 100% !important; line-height: 46px; height: 46px; padding-left: 1em;
	}
div.selector:before {
 	position: absolute; top: 0; right: 15px; font-size: 16px; color: #b7c6c9; content: "\e80b";
	}
div.selector.focus {
 	border-color: #b7c6c9
	}
div.selector.focus:before {
 	color: #6A7686
	}
div.selector.focus,
div.selector.hover,
div.selector:hover {
 	border-color: #b7c6c9
	}
div.selector span {
 	padding-top: 3px; padding-left: 0; color: #6A7686; background: none;
	}
div.selector select {
 	width: 100% !important; left: 0% !important; height: auto; min-height: 42px; line-height: 42px; font-size: 1em; -webkit-tap-highlight-color: transparent;
	}
.android div.selector select {
 	font-size: 2em
	}
/* checkboxes  */
div.checker,
div.radio {
 	width: 20px; height: 29px; margin-right: 4px;
	}
	div.checker span,
	div.radio span {
 		background: none
		}
	div.checker span:before,
	div.radio span:before {
 	text-align: left; position: absolute; top: 3px; left: 0; font-size: 18px; line-height: 120%; color: rgba(28, 38, 43, 0.65); content: "\e810";
		}
	div.checker span.checked:before {
 		content: "\e80f"
		}
	div.radio span:before {
 		content: "\e88d"
		}
	div.radio span.checked:before {
 		content: "\e870"
		}
/* file upload  */
div.uploader {
 	width: 100%; height: 46px;
	}
	div.uploader input {
 	width: 100%; z-index: 100; line-height: 46px; min-height: 46px;
		}
	div.uploader span.filename {
 		padding: 0; width: 100%; 100; border-left: 0; font-size: 13px; color: #6A7686;
		}
	div.uploader span.action {
 	width: 10px; text-indent: -999em; background: #fff; padding: 6px 16px 8px 36px; position: absolute; top: 0; right: 0; font-size: 14px; height: 100%;
		}
	div.uploader span.action:before {
 		text-indent: 0; content: "\e802"; color: #b7c6c9; text-align: center; position: absolute; top: 10px; left: 22px;
		}
/* contact form 7 compatibility  */
.wpcf7 {
 	padding: 0
	}
	.wpcf7 input[type=submit] {
 	margin-top: 1.4em
		}
	.wpcf7 label {
 	display: inline-block; margin-right: 2em;
		}
	.wpcf7 div.checker,
	.wpcf7 div.radio {
 	margin-right: 0px
		}
/* validation  */
label.error {
 	position: absolute; bottom: -19px; left: 0; min-width: 160px; font-size: 10px; font-weight: 800; text-transform: uppercase; padding: .2em .8em; background-color: #E24C4C; color: #fff; letter-spacing: 0;
	}
label.error:after {
 	content: " "; position: absolute; left: 1.6em; bottom: 100%; pointer-events: none; width: 0; height: 0; border-bottom: 8px solid #E24C4C; border-right: 8px solid transparent;
	}



/*  --------------------------------------------

	3. COMMON (@common) - common and helper classes
	
    -------------------------------------------- */
.cf:before,
.cf:after,
.entry-content:before,
.entry-content:after  {
 	content: " "; display: table;
	}
.cf:after,
.entry-content:after {
 	clear: both
	}
.center {
 	text-align: center;
	}
.easing,
.media-box .mask,
.filters li a,
.gallery-item a:before,
.gallery-item a:after {
 	-webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;
	}
.easing-short,
input,
textarea,
.social li a,
.nav-menu li a,
.latest-posts article header a,
.button,
.portfolio-nav a,
.entry-title a,
.more-link,
.navigation a,
.pagination a,
.entry-meta a,
.nav-single a,
.comment a,
.format-link .entry-content > p:first-child a:first-child,
.gallery .gallery-caption {
 	-webkit-transition: all 0.1s; transition: all 0.1s;
	}
.no-csstransitions #nprogress .spinner {
	display: none !important;
	}
	
/* Assistive text */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px); position: absolute;
}
.screen-reader-text:focus {
	background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto; color: #21759b; display: block; font-size: 14px; 	font-weight: bold; height: auto; line-height: normal; padding: 15px 23px 14px; position: absolute; left: 5px; top: 5px; text-decoration: none; text-transform: none; width: auto; z-index: 100000; /* Above WP toolbar */
    }

/*  --------------------------------------------

	4. LAYOUT (@layout) : layout styles
	
    -------------------------------------------- */
.site,
.site-main { 
	height: 100%; 
	}
.site-main { 
	padding-top: 50px;
	}
.page-layout { 
	position: relative; width: 100%; min-height: 100%; background-size: cover; background-position: center center; background-color: #fff; 
	}
.single-page-layout body { 
	background: #fff; 
	}
.one-page-layout .page-layout { 
	visibility: hidden;
	}
.one-page-layout .page-layout:not(.portfolio-single) .entry-content {
	max-width: 600px; margin-left: auto; margin-right: auto; text-align: center; font-size: .91em;
	}
/* CLASSIC LAYOUT */
.one-page-layout.classic-layout .page-layout {
	position: fixed;
	}
.one-page-layout.classic-layout .page-layout.page-current {
	position: relative;
	}
.one-page-layout.classic-layout .page-current,
.one-page-layout .p-overlay .page-layout { 
	visibility: visible; z-index: 100;
	}	
/* MODERN LAYOUT */
html { 
	height: 100% !important; 
	}
.modern-layout .site-main { 
	position:absolute; top:0; left: 0; right: 0; width: auto; height:100%; 
	-webkit-perspective: 1200px; -moz-perspective: 1200px; perspective: 1200px; overflow: hidden;
	}
.modern-layout .page-layout { 
	width: auto; height: 100%; position: absolute; top: 0; padding-top: 50px; left: 0; right: 0; overflow: auto; -webkit-overflow-scrolling: touch; 
	}
.modern-layout .pt-page {
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	}
.modern-layout .page-current {
	visibility: visible; z-index: 1;
	}
.modern-layout .pt-page .layout-medium > *:not(.map-canvas):not(.media-cell),
.p-overlay * {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	}	
.modern-layout .media-cell {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	}	
.content {
	position: relative; z-index: 10; text-align: left;
	}
.content > div {
 	padding: 2em 0 3em;
	}
.layout-fixed,
.layout-medium,
.layout-full {
	width: 90%; margin: 0 auto;
	}
.layout-fixed {
	max-width: 700px;
	}
.layout-medium {
	max-width: 1040px;
	}
.hentry {
	padding: 0 0 2em 0;
	}
.entry-header {
	padding-top: 2em; 
	}
.entry-title {
 	margin: 0; text-align: center;
	}
.entry-content {
	margin: 1.2em 0 0;
	}

/* ----- 4.1 HEADER ----- */
.header {
	position: fixed; top: 0; width: 100%; z-index: 200; height: 50px; color: rgba(225, 246, 255, 0.3);
	}
	.header-wrap {
		position: fixed; z-index: 2000; width: 120px; left: -120px; top: 0; bottom: 0; overflow: auto; overflow-x: hidden; -webkit-overflow-scrolling: touch; 
        }
	.header,
	.header-wrap {
		background: #1c262b;
		}
	.site-title {
 		display: none; position: absolute; top: 0; left: 70px; width: 252px; line-height: 50px; margin: 0; padding: 0; font-weight: bold; font-size: 12px; letter-spacing: 0; color: #FFF;
		}
	.mobile-title {
		display: block;
		}
	.header img {
 	 	max-height: 100%;
		}
/* TOGGLE LINK */
.toggle-link {
	 display: block; width: 50px; line-height: 50px; height: 50px; text-align: center; cursor: pointer; overflow: hidden; color: #fff;
	}
.toggle-link:hover {
	  color: rgba(255, 255, 255, 0.9);
	}
/* Menu Toggle */
.menu-toggle {
	position: absolute; top: 0; left: 0; border-right: 2px solid rgba(255, 255, 255, 0.08);
	}
.is-menu-toggled-on .menu-toggle {
	 color: rgba(255, 255, 255, 0.8);
	}
.menu-toggle:before {
	content: "\e800"; font-size: 18px;
	}
body {
    position: relative; overflow-x: hidden; -webkit-transition: all 0.2s ease-out; transition: all 0.2s ease-out;
    }
.is-menu-toggled-on body { 
    left: 120px; overflow: hidden;
    }
.is-menu-toggled-on .page-current,
.is-menu-toggled-on .site,
.is-menu-toggled-on .site-main { 
    overflow: hidden; max-height: 100%;
    }
.csstransforms.is-menu-toggled-on body { 
    left: 0;
    -ms-transform: translate(120px,0px); 
    -webkit-transform: translate(120px,0px); 
    transform: translate(120px,0px); 
	}

/* NAV MENU */
.nav-menu ul { 
	padding: 0; margin: 0; list-style: none; text-align: center; overflow: auto; 
	}
.nav-menu ul li { 
	font-size: 10px; letter-spacing: .07em; text-transform: uppercase; border-bottom: 1px solid rgba(225, 246, 255, 0.07); 
	}
.nav-menu ul i { 
	display: block; margin-bottom: .2em; 
	}
.nav-menu ul i:before { 
	display:inline-block; font-size: 2.5em; line-height: 1; 
	}
.nav-menu a { 
	display: block; padding: 1.3em 1em; color: rgba(225, 246, 255, 0.45); 
	}
.nav-menu a:hover { 
	color: rgba(225, 246, 255, 0.7); 
	}
.nav-menu .current_page_item a { 
	color: #fff; 
	}
/* HIDE MENU ICONS ON MID RANGE DESKTOPS */
@media screen and (min-width: 768px) and (max-height: 630px) { 
	.nav-menu a { 
		padding: 1em .5em; 
		}
	.nav-menu ul i:before { 
		display: none; 
		}
}
/* SMALLER MENU ICONS ON MID RANGE DESKTOPS */
@media screen and (min-width: 768px) and (min-height: 600px) and (max-height: 767px) { 
	.nav-menu a { 
		padding: 1.1em .5em; 
		}
	.nav-menu ul i:before { 
		font-size: 2.2em; 
		}
}

/* LARGER MENU ICONS ON LARGE DEVICES */
@media screen and (min-width: 768px) and (min-height: 768px) { 

	/* HEADER */
	.nav-menu a { 
		padding: 2em 1em;
		}
	.nav-menu ul i:before { 
		font-size: 2.8em;
		}	
}

	
	
/* SEARCH */
.header-search { 
	display: none; padding: 0;
	}
.is-search-toggled-on .header-search { 
	display: block;
	}
.search-toggle { 
	cursor: pointer; 
	}
.search-toggle i:before {
	display: inline-block; margin-bottom: .2em; font-size: 1.8em;
	}
.is-search-toggled-on .search-toggle {
	color: #fff; 
	}
#search-form { 
	position:relative; 
	}
#search-form #search { 
	outline: 0; border: 0; border-radius: 0; background: #0C141F; color: #7D8B91; font-size: .85em; padding: 1em .4em; text-align: center;
	}
#search-form #search::-webkit-input-placeholder { 
    color: #A6B7BE;
	}
#search-form #search:focus { 
	color:#fff; 
	}
#search-submit { 
	font-size:17px; text-shadow:none; color: #fff; border:0; outline:0; padding:0; width: 100%; line-height: 2.6em; background: #8ACB82; border-radius: 0; font-weight: 400;
	}
#search-submit:hover { 
	opacity: .9; 
	}
#search-submit:active { 
	opacity: .8; 
	}

/* HEADER BOTTOM */
.header-bottom { 
	width: 100%; margin-top: 2em; text-align: center; 
	}
.header .social { 
	margin: 1em 0; padding: 0 6px; 
	}
.header .social li a {
    font-size: 14px; height: auto; border: 0; line-height: 22px; width: 18px; margin: 0; border-radius: 4px; float: none; color: rgba(225, 246, 255, 0.3);
	}
.header .header-bottom .social li a:hover {
	background: none; color: rgba(255, 255, 255, 0.7);
	}
.copy-text p {
	font-size: 12px;
	}
	
/* PAGE : HOME */
.home-section { 
	height: 100%;
	}
.home-section .content {
	position: static;
	}
.home-section .content > div { 
	font-size: 140%; text-align: center; position: absolute; bottom: 0; width: 100%; max-width: 100%; z-index: 100;
	}
.home-section .content > div > * { 
	max-width: 940px; margin-left: auto; margin-right: auto;
	}
.has-bg-img { 
	background-size: cover; 
	}
.has-bg-img .content:before { 
	content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 0; background: rgba(73, 92, 95, 0.75); 
	}
.home-section #jarallax-container-0 {
	z-index: -1 !important;
	}
.home-section h2,
.home-section h3,
.home-section h4 {
	line-height: 1.2; margin: 0; letter-spacing: -2px;
	}
.home-section h4 {
	font-weight: 400; letter-spacing: -1px; margin-top: 1em !important;
	}
.home-section .button { 
	margin-top: 3em; 
	}  

/* PAGE BACKGROUNDS */
.one-page-layout .site-main > section:nth-of-type(1) { 
	background-color: #2E2F2D; 
	}
.one-page-layout .site-main > section:nth-of-type(2) { 
	background-color: #ECF0F0; 
	}
.one-page-layout .site-main > section:nth-of-type(3) { 
	background-color: #EBF0DF; 
	}
.one-page-layout .site-main > section:nth-of-type(4) { 
	background-color: #60d7a9; 
	}
.one-page-layout .site-main > section:nth-of-type(5) { 
	background-color: #E5DCC5; 
	}
.one-page-layout .site-main > section:nth-of-type(6) { 
	background-color: #D6E2E0; 
	}
	
/* LIGHT TEXT ON PAGES */
.light-text,
.light-text label { 
	color: #fff; 
	}
.light-text .social li a { 
	line-height: 48px; border: 2px solid rgba(255, 255, 255, 0.26); 
	}
.light-text input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]), 
.light-text textarea {
	border-color: rgba(255, 255, 255, 0.6); color: rgba(255, 255, 255, 0.8);
	}
.light-text input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]):focus, 
.light-text textarea:focus {
	border-color: rgba(255, 255, 255, 1);
	}
.light-text input[type=submit], 
.light-text input[type=button], 
.light-text button, 
.light-text a.button { 
	border-color: rgba(255, 255, 255, 0.7); color: rgba(255, 255, 255, 0.9);
	}
.light-text .service p {
	color: rgba(255, 255, 255, 0.7);
	}
.light-text .process {
	background: rgba(255, 255, 255, 0.7);
	}
.light-text .process:after { 
	border-bottom-color: rgba(255, 255, 255, 0.15);
	}
.light-text .filters li a {
	color: #fff;
	}
.light-text .event h5 {
	  color: rgba(255, 255, 255, 0.4);
	}
.light-text .testo {
	color: rgba(28, 38, 43, 0.9);
	}
.light-text .skill-unit .bar .progress span {
	background: rgba(255, 255, 255, 0.5);
	}
.light-text .event p {
	color: rgba(255, 255, 255, 0.75);
	}
.light-text .fun-fact i {
	color: rgba(255, 255, 255, 0.9);
	}


/*  --------------------------------------------

	5. MODULES @modules : reusable styles
	
    -------------------------------------------- */

/* PAGE TITLE */	
.page-title { 
	margin: 0; padding: .6em 0; text-align: center; 
	}
.page-title i { 
	display: block; font-size: 50px; 
	}

/* SECTION TITLE */
.section-title { 
	margin: 2em 0 2em; position: relative; z-index: 10; 
	}
.page-title + .section-title,
.section-title:first-child { 
	margin-top: 2em; 
	}
.section-title h2 { 
	margin: 0; font-size: 11px; text-transform: uppercase; letter-spacing: 0; position: relative; display: inline-block; font-weight: normal; letter-spacing: 0.2em; white-space: nowrap; text-align: center; text-transform: uppercase;
	}
.section-title h2:after, 
.section-title h2:before {
	content: " "; display: block; position: absolute; bottom: -.5em; width: 2em; height: 100%; background-color: #7DB376; pointer-events: none;
	}
.section-title h2:after {
	right: -1.57em; z-index: -1;
	}
.section-title h2:before {
	bottom: auto; top: -.5em; left: -1.57em; z-index: -1;
	}
.section-title h2 i {
	display: inline-block; position: relative; padding: .8em 3em; font-style: normal; color: #fff; background-color: #8ACB82;
	}
.section-title h2 i:after, h2 i:before {
	content: " "; display: block; position: absolute; width: 0; height: 0; bottom: -.5em; left: -.05em; pointer-events: none; -webkit-mask: none;
	}
.section-title h2 i:before {
	bottom: auto; top: -.5em; border-bottom: 0.5em solid #080b0c; border-bottom: 0.5em solid rgba(8, 11, 12, 0.2); border-left: .5em solid transparent;
	}
.section-title h2 i:after {
	left: auto; right: -.05em; border-top: 0.5em solid #080b0c; border-top: 0.5em solid rgba(8, 11, 12, 0.2); border-right: .5em solid transparent;
	}

/* TYPIST ROTATE WORDS */
.selectedText {
	display: none;
	}

/* SERVICE */
.service {
    padding: 0.2em 0;
	}
	.service i,
	.service img { 
        display: inline-block; float: left; width: 50px; margin: 0; line-height: 50px; font-size: 40px; text-align: center;
		}
	.service i:before { 
		margin: 0 .2em; display: inline-block; 
		}
	.service p {
        margin-top: .2em; margin-left: 68px; font-size: 14px; line-height: 1.45; color: rgba(28, 38, 43, 0.5);
		}
	.service h4 {
        margin-top: 0; margin-left: 68px; margin-bottom: .3em; font-size: 12px; text-transform: uppercase;
		}

/* PROCESS */
.process { 
	position: relative; text-align: center; width: 80px; height: 80px; padding: 16px 10px; margin: 0 auto 1.6em; border-radius: 0 14px 14px 14px; color: #345; background: #fff;
	}
.process:after { 
	content: ""; position:absolute; top: 50%; left: 100%; width: 120%; height: 0; border-bottom: 3px dashed #fff;
	}
.process i { 
	font-size: 28px; line-height: 1;
	}
.process img { 
	max-width: 60%; margin: 0;
	}
.process h4 { 
	margin: 0; font-size: 10px;
	}
.row [class^="col-"]:nth-child(3n) .process:after { 
    display: none; 
    }
		
/* FUN FACT */
.fun-fact { 
	padding-right: 1em; margin-bottom: 1.4em; text-align: center;
	}
	.fun-fact i { 
		display: inline-block; margin-bottom: 12px; line-height: 1; font-size: 38px;
		}
	.fun-fact i:before { 
		margin: 0 .2em; display: inline-block; 
		}
	.fun-fact img { 
		max-width: 54px; margin: 0; margin-bottom: 8px;
		}
	.fun-fact h4 { 
		max-width: 140px; margin: 0 auto; font-size: 12px; line-height: 1.2; font-weight: 400; text-transform: uppercase; 
		}

/* CLIENT */
.client { 
	margin: 1em 0;  text-align: center;
	}
	.client img { 
		margin: 0 auto; width: auto; max-height: 46px; display:block; 
		}

/* TIMELINE */
.event {
	position: relative; padding: 0 1em 2em 2.4em;
	}
    .event:before { 
        content : ""; position: absolute; top: 10px; bottom: -10px; left: 12px; width: 4px; background: rgba(255, 255, 255, 0.5);
        }
    .event:after { 
        content : ""; position: absolute; top: 6px; left: 7px; width: 14px; height: 14px; border-radius: 50%; background: #fff;
        }
	.event:nth-of-type(2):after {
        background-color: #8ACB82;
		}
    .event h2 {
 		margin-left: .6em; margin-bottom: .4em; font-size: 1.3em; font-weight: 400; letter-spacing: 0;
		}
    .event h2 + p i,
	.event h2 + p img {
        display: block; text-align: center; font-size: 22px; font-weight: bold; position: absolute; top: -14px; left: -10px; width: 52px; line-height: 52px; margin: 0;  z-index: 120; color: #fff; background: #8ACB82; border-radius: 50%;
        }
    .event h2 + p i:before {
        margin:0; 
        }	
    .event h2 + p img {
		padding: 10px; border-radius: 4px;
        }
	.event h3 {
        display: inline-block; position: relative; padding: 3px 8px; font-size: 11px; line-height: 1.3; font-weight: 400; letter-spacing: 0; margin: 0 0 1.5em 0; text-transform: uppercase; color: #fff; background: #8ACB82;
		}
		.event h3:before {
			content: ""; position: absolute; display: block; bottom: 0; border: 10px solid #8ACB82; z-index: -1; left: -1.2em; border-right-width: 10px; border-left-color: transparent 	!important;
			}
	.event:last-of-type {
		padding-bottom: 0; margin-bottom: 3em;
		}
    .event:last-of-type:before {
        bottom: 4px;
		}
	.event h4 {
		font-size: 14px; font-weight: 700; text-transform: uppercase; margin: 0 0 .2em 0; padding: 0;
		}
	.event h5 {
        margin: 0; padding: 0 0 .3em 0; font-size: 11px; font-weight: 400; letter-spacing: 1px; text-transform: uppercase; color: rgba(28, 38, 43, 0.35);
		}
	.event p {
		margin: .6em 0 .2em 0; font-size: 15px;
		}
    .event p:last-child {
		margin-bottom: 0;
		}

/* SKILLS */
.skill-unit {
 	padding-bottom: 1.1em; padding-right: 32px;
	}
	.skill-unit h4 {
 		margin: 0 0 4px 0; font-weight: 400; font-size: 14px; position: relative; z-index: 100; padding-left: 0px;
		}
	.skill-unit .bar {
		position: relative; width: 100%; height: 8px;
		}
		.skill-unit .bar .progress {
            position: absolute; top: 0; left: 0; width: 0; height: 100%; background: #fff; border-radius: 16px; -webkit-transition: width 1s ease-out; transition: width 1s ease-out;
			}
            .skill-unit .bar .progress span {
                position: absolute; top: -19px; left: 100%; margin-left: -2px; font-size: 13px; font-weight: bold; text-align: center; width: 42px; line-height: 42px; color: #345; padding: 0 6px;   background: rgba(255, 255, 255, 0.46); border-radius: 50%;
			   }

/* TESTIMONIAL */
.testo {
    position: relative; padding: 1.4em 1.8em; margin: 4em 0; border-radius: 8px; background: rgba(255, 255, 255, 0.7);
	}
	.testo img {
 		display: block; margin: -60px auto 10px auto; width: auto; max-height: 72px; border-radius: 50%;
		}
	.testo h4 {
		position: relative; text-align: center; margin: 0; font-size: 15px; font-weight: 400;
		}
	.testo h5 {
		margin-top: 0; font-size: 12px; font-weight: 400; text-align: center; color: rgba(28, 38, 43, 0.35); text-transform: uppercase;
		}
	.testo p {
		position: relative; margin: 1em 0 0.2em 0; font-size: 14px;
		}
		
/* SOCIAL */
.social {
 	padding: 0; margin: 2em 0 4em 0; list-style: none; text-align: center;
	}
	.social li {
 		display: inline-block; padding: 0; margin-bottom: -3px;
		}
		.social li a {
            display: block; float: left; margin: 0 .4em .3em 0; text-align: center; font-size: 15px; font-family: "fontello"; width: 52px; line-height: 50px; color: inherit; border: 1px solid rgba(28, 38, 43, 0.10); border-radius: 50%;
			}
		.social li a.facebook:before {
 			content: '\e825'
			}
		.social li a.twitter:before {
 			content: '\e826'
			}
		.social li a.flickr:before {
 			content: '\e835'
			}
		.social li a.rss:before {
 			content: '\e82f'
			}
		.social li a.dribbble:before {
 			content: '\e82c'
			}
		.social li a.lastfm:before {
 			content: '\e82e'
			}
		.social li a.linkedin:before {
 			content: '\e827'
			}
		.social li a.vimeo:before {
 			content: '\e830'
			}
		.social li a.forrst:before {
 			content: '\e831'
			}
		.social li a.skype:before {
 			content: '\e832'
			}
		.social li a.picasa:before {
 			content: '\e833'
			}
		.social li a.tumblr:before {
 			content: '\e836'
			}
		.social li a.behance:before {
 			content: '\e82b'
			}
		.social li a.blogger:before {
 			content: '\e837'
			}
		.social li a.delicious:before {
 			content: '\e838'
			}
		.social li a.digg:before {
 			content: '\e839'
			}
		.social li a.friendfeed:before {
 			content: '\e83a'
			}
		.social li a.github:before {
 			content: '\e82a'
			}
		.social li a.wordpress:before {
 			content: '\e83b'
			}
		.social li a.google-plus:before {
 			content: '\e801'
			}
		.social li a.youtube:before {
 			content: "\e834"
			}
		.social li a.pinterest:before {
 			content: "\e829"
			}
		.social li a.instagram:before {
 			content: "\e8cc"
			}
		.social li a.stack-overflow:before {
 			content: "\e83c"
			}
		.social li a.foursquare:before {
 			content: "\e83d"
			}
		.social li a.xing:before {
 			content: "\e83e"
			}
		.social li a.weibo:before {
 			content: "\e83f"
			}
		.social li a.soundcloud:before {
 			content: "\e840"
			}
		.social li a.fivehundredpx:before {
 			content: "\e841"
			}
		.social li a.slideshare:before {
 			content: "\e842"
			}
        .social li a.vine:before {
 			content: "\e863"
			}
        .social li a.vkontakte:before {
 			content: "\e846"
			}
        .social li a.spotify:before {
 			content: "\e803"
			}
        .social li a.snapchat:before {
 			content: "\f2ac"
			}
        .social li a.imdb:before {
 			content: "\f2d8"
			}
		.social li a:hover {
            color: #fff; background: #333; border-color: transparent;
			}
		.social li a.facebook:hover {
            background-color: #3c5fac;
			}
		.social li a.twitter:hover {
            background-color: #5ec3df;
			}
		.social li a.flickr:hover {
            background-color: #FF0084;
			}
		.social li a.rss:hover {
            background-color: #ff9900;
			}
		.social li a.dribbble:hover {
            background-color: #EA4C89;
			}
		.social li a.lastfm:hover {
            background-color: #D51007;
			}
		.social li a.linkedin:hover {
            background-color: #2089b5;
			}
		.social li a.vimeo:hover {
            background-color: #0dadd6;
			}
		.social li a.google-plus:hover {
            background-color: #c63d2d;
			}
		.social li a.forrst:hover {
            background-color: #5b9a68;
			}
		.social li a.skype:hover {
            background-color: #00aff0;
			}
		.social li a.picassa:hover {
            background-color: #ffd34e;
			}
		.social li a.youtube:hover {
            background-color: #c8312b;
			}
		.social li a.pinterest:hover {
            background-color: #cb2027;
			}
		.social li a.tumblr:hover {
            background-color: #2C4762;
			}
		.social li a.behance:hover {
            background-color: #3878F6;
			}
		.social li a.blogger:hover {
            background-color: #fc9947;
			}
		.social li a.delicious:hover {
            background-color: #3274d1;
			}
		.social li a.digg:hover {
            background-color: #205891;
			}
		.social li a.friendfeed:hover {
            background-color: #2f72c4;
			}
		.social li a.github:hover {
            background-color: #222;
			}
		.social li a.wordpress:hover {
            background-color: #0083b3;
			}
		.social li a.instagram:hover {
            background-color: #3f729b;
			}
		.social li a.stack-overflow:hover {
            background-color: #F90;
			}
		.social li a.foursquare:hover {
            background-color: #009FE0;
			}
		.social li a.xing:hover {
            background-color: #006567;
			}
		.social li a.weibo:hover {
            background-color: #E64141;
			}
		.social li a.soundcloud:hover {
            background-color: #FA3219;
			}
		.social li a.fivehundredpx:hover {
            background-color: #222;
			}
		.social li a.slideshare:hover {
            background-color: #ED9D2C;
			}
		.social li a.vine:hover {
            background-color: #00BF8F;
			}
		.social li a.vkontakte:hover {
            background-color: #6383A8;
			}
		.social li a.spotify:hover {
            background-color: #2ebd59;
			}
		.social li a.snapchat:hover {
            background-color: #FFFC00;
			}
		.social li a.imdb:hover {
            background-color: #E6B91E;
			}
			
/* MAP */
.map {
	position: absolute; top: 0; right: 0; left: 0; bottom: 0; margin: 0; line-height: 0; z-index: -1;
	}
	.map:after { 
		content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(17, 61, 74, 0.45);
		}
	.map iframe {
 		width: 100%; border-width: 0; outline: none; height: 250px;
		}
.map-canvas {
	height: 100%; margin: 0px; padding: 0px; line-height: 1.6;
	}
	.map-canvas img { 
		max-width: none; 
		}

/* FILTERS */
.filters {
 	list-style: none; padding: 0; margin: 1em 0; text-align: center;
	}
	.filters li {
 		display: inline-block; margin: .6em .6em; text-transform: uppercase;
		}
		.filters li a {
			display: inline-block; padding: .4em 0;	color: #345; opacity: .3; font-size: 12px; font-weight: 700;
			}
		.filters li a:hover {
 			opacity: .5;
			}
	.filters .current a,
	.filters .current a:hover {
 		opacity: 1;
		}
		
/* MEDIA GRID */
.media-grid {
 	min-height: 400px; width: 100%;
	}
	.media-grid .media-cell {
 		padding: 0 10px; margin-bottom: 20px; text-align: center;-moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;
		}
	.media-grid .media-box {
		margin-bottom: 0; 
		}
		
/* MEDIA CELL DESC */
.media-cell-desc {
    position: relative; padding: 28px 40px; background: #fff;
	}
.media-cell-desc h3 {
 	text-transform: uppercase; padding: 0; margin: 0px; font-weight: 400; letter-spacing: 0; font-size: 13px; color: #345; line-height: 1.4;
	}
	.media-cell-desc h3 a {
		color: inherit;
		}
	.media-cell-desc p {
		font-size: .875em; margin: 0; color: #a7b6b9;
		}
	.media-cell-desc .date {
		text-align: center; font-style: italic; color: #ccc; font-size: 14px; line-height: 1;  border-radius: 102px; position: absolute; top: -28px; left: 50%; margin-left: -28px; min-width: 56px; min-height: 56px;  background: #FFF;
		}
		.media-cell-desc .date .day {
			display: block; font-size: 24px; font-style: normal; font-weight: 700; letter-spacing: -2px; margin-top: 8px; color: #345;
			}

/* MEDIA BOX */
.media-box {
 	position: relative; margin-bottom: 30px; background-color: #fff;
	}
	.media-box a {
		position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #fff; opacity: 0; filter: alpha(opacity = 0);
		}
	.media-box a:nth-of-type(n+2) {
		display: none;
		}
	.media-box img {
		display: block; width: 100%;
		}	
	.media-box .mask {
		opacity: 0; filter: alpha(opacity = 0); position: absolute; width: 100%; height: 100%; top: 0; left: 0; bottom: 0; right: 0; text-align: center; overflow: hidden; background: #33475D; background: rgba(51, 71, 93, 0.6);
		}
	.media-box:hover .mask {
		opacity: 1; filter: alpha(opacity = 100);
		}
	.media-box .mask:before {
		position: absolute; left: 50%; top: 50%; margin: -33px 0 0 -33px; width: 66px; line-height: 66px; font-size: 66px; text-align: center; content: "\e69d"; color: #fff;
		}
	.video.hentry .mask:before {
		content: "\e6a5";
		}
	.audio.hentry .mask:before {
		content: "\e62f";
		}
	.image.hentry .mask:before {
		content: "\e6bf"
		}
	.url.hentry .mask:before {
		content: "\e6bc";
		}

/* LATEST POSTS */
.latest-posts {
	margin-top: 2em;
	}
.latest-posts .media-cell-desc {
	padding-top: 3em;
	}
.latest-posts .mask:before {
	content: "\e62e"
	}

/* HTTP ALERT */
.http-alert {
 	text-align: center
	}
	.http-alert h1 {
        margin: .12em 0 .3em 0; font-size: 10em; letter-spacing: .03em; line-height: 1; color: #234; text-shadow: #EDEDED 1px 1px, #EDEDED 2px 2px, #EEE 3px 3px, #EEE 4px 4px, #EEE 5px 5px, #EFEFEF 6px 6px, #EFEFEF 7px 7px, #F0F0F0 8px 8px, #F0F0F0 9px 9px, #F0F0F0 10px 10px, #F1F1F1 11px 11px, #F1F1F1 12px 12px, #F2F2F2 13px 13px, #F2F2F2 14px 14px, #F2F2F2 15px 15px, #F3F3F3 16px 16px, #F3F3F3 17px 17px, #F4F4F4 18px 18px, #F4F4F4 19px 19px, #F4F4F4 20px 20px, #F5F5F5 21px 21px, #F5F5F5 22px 22px, #F6F6F6 23px 23px, #F6F6F6 24px 24px, #F6F6F6 25px 25px, #F7F7F7 26px 26px, #F7F7F7 27px 27px, #F7F7F7 28px 28px, #F8F8F8 29px 29px, #F8F8F8 30px 30px, #F9F9F9 31px 31px, #F9F9F9 32px 32px, #F9F9F9 33px 33px, #FAFAFA 34px 34px, #FAFAFA 35px 35px, #FBFBFB 36px 36px, #FBFBFB 37px 37px, #FBFBFB 38px 38px, #FCFCFC 39px 39px, #FCFCFC 40px 40px, #FDFDFD 41px 41px, #FDFDFD 42px 42px, #FDFDFD 43px 43px, #FEFEFE 44px 44px, #FEFEFE 45px 45px, #FFF 46px 46px;
		}

/* DROP CAP */
.drop-cap:first-letter,
.blog-single .entry-content > p:first-child:first-letter {
 	font-size: 40px; font-weight: bold; line-height: 1.15; float: left; padding: 0px 12px 0px 0; text-transform: uppercase;
	}

/* BUTTONS */
input[type=submit],
input[type=button],
button,
a.button {
 	display: inline-block; position: relative; padding: 1.1em 2em; margin-bottom: .25em; font-size: 11px; font-weight: bold; text-transform: uppercase; line-height: 1.2; border: 0; outline: 0; border: 2px solid #345; color: #345; text-shadow: none; background: none; border-radius: 0;
	}
input[type=submit]:hover,
input[type=button]:hover,
button:hover,
a.button:hover {
 	color: #fff; background-color: #8ACB82; border-color: transparent;
	}
input[type=submit]:active,
input[type=button]:active,
button:active,
a.button:active {
	opacity: .8;
	}
/* Large Buttons */
input[type=submit].big,
input[type=button].big,
button.big,
a.button.big {
 	font-size: 12px; padding: 1.5em 2.6em;
	}
/* Small Buttons */
input[type=submit].small,
input[type=button].small,
button.small,
a.button.small {
 	padding: .6em 1.4em; font-size: 11px;
	}
/* Buttons with icons */
input[type=submit] i,
input[type=button] i,
button i,
a.button i {
 	display: inline; line-height: 1; font-size: 16px; font-weight: bold; margin-right: .4em; margin-left: -0.35em; margin-bottom: -1em; vertical-align: middle;
	}
input[type=submit].big i,
input[type=button].big i,
button.big i,
a.button.big i {
 	top: .7em; left: 1.2em; font-size: 18px;
	}

/* TABS */
.tabs {
 	font-size: 1em; margin-bottom: 2em;
	}
	.tabs .tab-titles {
 		padding: 0; margin: 0 0 -1px 0;
		}
		.tabs .tab-titles li {
 			display: inline-block
			}
			.tabs .tab-titles li a {
 				display: inline-block; padding: 1em 2em; font-weight: bold; font-size: 13px; letter-spacing: 0; border: 0; cursor: pointer;
				}
			.tabs .tab-titles li a.active {
 				background-color: #fff; border: 1px solid #EAEEEF; border-bottom: none;
				}
	.tabs .tab-content {
 		margin-top: -1px; font-size: 14px; border: 1px solid #EAEEEF;
		}
		.tabs .tab-content > div {
 			padding: 1.8em; display: none;
			}
			
/* TOGGLES */
.toggle-group {
	margin-bottom: 2em;
	}
	.toggle h4 {
        position: relative; font-size: 13px; font-weight: 600; border-left: 0; padding: .9em 1em .6em 1.8em; margin: 0; cursor: pointer; border-bottom: 1px solid #F4F3EF;
		}
	.toggle h4.active {
 		 border-bottom: 0;
		}
	.toggle h4:before {
 		content: "\e823"; opacity: .6; position: absolute; top: 1em; left: 0; font-size: 14px; line-height: 1;
		}
	.toggle h4.active:before {
 		content: '\e89a'; 
		}
	.toggle .toggle-content {
        display: none; padding: 1.2em 0 2em 1.8em; font-size: 14px; border-bottom: 1px solid #eee;
		}
		
/* ALERTS */
.alert {
    position: relative; padding: 1.2em 2em; font-size: 14px; line-height: 1.4; margin-bottom: 2em; border: 3px solid #EAEEEF;
	}
.alert.success {
    border-color: #8EE1A8;
	}
.alert.error {
 	border-color: #FF6140;
	}
	
/* LAUNCH */
.launch {
 text-align: center; padding: 2.6em 0;
	}
	.launch .button {
  		padding: 1.5em 3em;
		}	
	
/* SITE ALERT */
.site-alert {
 	display: none; position: fixed; z-index: 9900; top: 50%; left: 50%; margin: -80px 0 0 -80px; font-size: 6em; line-height: 1; padding: .4em .5em;   color: rgba(255, 255, 255, 0.86); text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1); background: rgba(28, 38, 43, 0.93);
	}
.site-alert:before {
 	content: "\e66c";
	}
.site-alert.error {
 	background: #D44A4A; background: rgba(212, 74, 74, 0.55);
	}
.site-alert.error:before {
 	content: "\e681";
	}
.site-alert {
	-webkit-animation: animation 3800ms linear both;
	animation: animation 3800ms linear both;
	}
/* Generated with Bounce.js. Edit at http://goo.gl/NBqAOQ */
@-webkit-keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1500, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1500, 0, 0, 1); }
  0.84% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.621, 1, 0, 0, 0, 0, 1, 0, -1033.111, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.621, 1, 0, 0, 0, 0, 1, 0, -1033.111, 0, 0, 1); }
  1.26% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.78, 1, 0, 0, 0, 0, 1, 0, -848.183, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.78, 1, 0, 0, 0, 0, 1, 0, -848.183, 0, 0, 1); }
  1.69% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.829, 1, 0, 0, 0, 0, 1, 0, -691.149, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.829, 1, 0, 0, 0, 0, 1, 0, -691.149, 0, 0, 1); }
  2.53% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.695, 1, 0, 0, 0, 0, 1, 0, -447.926, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.695, 1, 0, 0, 0, 0, 1, 0, -447.926, 0, 0, 1); }
  3.35% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.477, 1, 0, 0, 0, 0, 1, 0, -284.082, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.477, 1, 0, 0, 0, 0, 1, 0, -284.082, 0, 0, 1); }
  3.79% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.367, 1, 0, 0, 0, 0, 1, 0, -217.451, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.367, 1, 0, 0, 0, 0, 1, 0, -217.451, 0, 0, 1); }
  4.98% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.146, 1, 0, 0, 0, 0, 1, 0, -98.808, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.146, 1, 0, 0, 0, 0, 1, 0, -98.808, 0, 0, 1); }
  5.06% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.135, 1, 0, 0, 0, 0, 1, 0, -93.236, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.135, 1, 0, 0, 0, 0, 1, 0, -93.236, 0, 0, 1); }
  6.64% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, -22.005, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, -22.005, 0, 0, 1); }
  7.59% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.029, 1, 0, 0, 0, 0, 1, 0, -3.641, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.029, 1, 0, 0, 0, 0, 1, 0, -3.641, 0, 0, 1); }
  8.27% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.033, 1, 0, 0, 0, 0, 1, 0, 3.324, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.033, 1, 0, 0, 0, 0, 1, 0, 3.324, 0, 0, 1); }
  10.12% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.019, 1, 0, 0, 0, 0, 1, 0, 8.659, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.019, 1, 0, 0, 0, 0, 1, 0, 8.659, 0, 0, 1); }
  14.86% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.002, 1, 0, 0, 0, 0, 1, 0, 2.645, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.002, 1, 0, 0, 0, 0, 1, 0, 2.645, 0, 0, 1); }
  20.95% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.104, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.104, 0, 0, 1); }
  21.05% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.096, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.096, 0, 0, 1); }
  21.44% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.071, -7.992, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.071, -7.992, 0, 1); }
  22% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.043, -15.312, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.043, -15.312, 0, 1); }
  22.95% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.014, -19.275, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.014, -19.275, 0, 1); }
  24.13% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.004, -15.606, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.004, -15.606, 0, 1); }
  25.29% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.01, -9.111, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.01, -9.111, 0, 1); }
  25.92% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.01, -5.84, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.01, -5.84, 0, 1); }
  26.32% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.01, -4.058, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.01, -4.058, 0, 1); }
  26.48% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.01, -3.395, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.01, -3.395, 0, 1); }
  27.64% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.008, -0.013, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.008, -0.013, 0, 1); }
  29.53% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.005, -1.622, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.005, -1.622, 0, 1); }
  34.22% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, -0.002, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, -0.002, 0, 1); }
  36.12% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.137, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.137, 0, 1); }
  39.47% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.029, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.029, 0, 1); }
  40.81% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  42.71% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.011, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.011, 0, 1); }
  45.95% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.003, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.003, 0, 1); }
  46.05% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.002, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.002, 0, 1); }
  47.19% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.375, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.375, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  47.27% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.402, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.402, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  47.37% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.434, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.434, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  48.32% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.704, 1, 0, 0, 0, 0, 1, 0, 334.897, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.704, 1, 0, 0, 0, 0, 1, 0, 334.897, 0, 0, 1); }
  49.45% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.903, 1, 0, 0, 0, 0, 1, 0, 714.76, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.903, 1, 0, 0, 0, 0, 1, 0, 714.76, 0, 0, 1); }
  49.63% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.921, 1, 0, 0, 0, 0, 1, 0, 771.405, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.921, 1, 0, 0, 0, 0, 1, 0, 771.405, 0, 0, 1); }
  50.58% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.957, 1, 0, 0, 0, 0, 1, 0, 1036.886, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.957, 1, 0, 0, 0, 0, 1, 0, 1036.886, 0, 0, 1); }
  51.9% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.922, 1, 0, 0, 0, 0, 1, 0, 1317.879, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.922, 1, 0, 0, 0, 0, 1, 0, 1317.879, 0, 0, 1); }
  53.51% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.864, 1, 0, 0, 0, 0, 1, 0, 1528.299, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.864, 1, 0, 0, 0, 0, 1, 0, 1528.299, 0, 0, 1); }
  54.16% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.849, 1, 0, 0, 0, 0, 1, 0, 1578.415, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.849, 1, 0, 0, 0, 0, 1, 0, 1578.415, 0, 0, 1); }
  56.43% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.832, 1, 0, 0, 0, 0, 1, 0, 1640.002, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.832, 1, 0, 0, 0, 0, 1, 0, 1640.002, 0, 0, 1); }
  56.43% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.832, 1, 0, 0, 0, 0, 1, 0, 1640.002, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.832, 1, 0, 0, 0, 0, 1, 0, 1640.002, 0, 0, 1); }
  62.28% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.84, 1, 0, 0, 0, 0, 1, 0, 1530.939, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.84, 1, 0, 0, 0, 0, 1, 0, 1530.939, 0, 0, 1); }
  62.28% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.84, 1, 0, 0, 0, 0, 1, 0, 1530.917, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.84, 1, 0, 0, 0, 0, 1, 0, 1530.917, 0, 0, 1); }
  68.13% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1490.654, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1490.654, 0, 0, 1); }
  68.15% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1490.654, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1490.654, 0, 0, 1); }
  72.37% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1495.816, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1495.816, 0, 0, 1); }
  79.82% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1500.624, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1500.624, 0, 0, 1); }
  91.57% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1499.958, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1499.958, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1500, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1500, 0, 0, 1); } 
}
@keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1500, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1500, 0, 0, 1); }
  0.84% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.621, 1, 0, 0, 0, 0, 1, 0, -1033.111, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.621, 1, 0, 0, 0, 0, 1, 0, -1033.111, 0, 0, 1); }
  1.26% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.78, 1, 0, 0, 0, 0, 1, 0, -848.183, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.78, 1, 0, 0, 0, 0, 1, 0, -848.183, 0, 0, 1); }
  1.69% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.829, 1, 0, 0, 0, 0, 1, 0, -691.149, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.829, 1, 0, 0, 0, 0, 1, 0, -691.149, 0, 0, 1); }
  2.53% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.695, 1, 0, 0, 0, 0, 1, 0, -447.926, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.695, 1, 0, 0, 0, 0, 1, 0, -447.926, 0, 0, 1); }
  3.35% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.477, 1, 0, 0, 0, 0, 1, 0, -284.082, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.477, 1, 0, 0, 0, 0, 1, 0, -284.082, 0, 0, 1); }
  3.79% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.367, 1, 0, 0, 0, 0, 1, 0, -217.451, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.367, 1, 0, 0, 0, 0, 1, 0, -217.451, 0, 0, 1); }
  4.98% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.146, 1, 0, 0, 0, 0, 1, 0, -98.808, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.146, 1, 0, 0, 0, 0, 1, 0, -98.808, 0, 0, 1); }
  5.06% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.135, 1, 0, 0, 0, 0, 1, 0, -93.236, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.135, 1, 0, 0, 0, 0, 1, 0, -93.236, 0, 0, 1); }
  6.64% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, -22.005, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, -22.005, 0, 0, 1); }
  7.59% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.029, 1, 0, 0, 0, 0, 1, 0, -3.641, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.029, 1, 0, 0, 0, 0, 1, 0, -3.641, 0, 0, 1); }
  8.27% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.033, 1, 0, 0, 0, 0, 1, 0, 3.324, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.033, 1, 0, 0, 0, 0, 1, 0, 3.324, 0, 0, 1); }
  10.12% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.019, 1, 0, 0, 0, 0, 1, 0, 8.659, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.019, 1, 0, 0, 0, 0, 1, 0, 8.659, 0, 0, 1); }
  14.86% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.002, 1, 0, 0, 0, 0, 1, 0, 2.645, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.002, 1, 0, 0, 0, 0, 1, 0, 2.645, 0, 0, 1); }
  20.95% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.104, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.104, 0, 0, 1); }
  21.05% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.096, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.096, 0, 0, 1); }
  21.44% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.071, -7.992, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.071, -7.992, 0, 1); }
  22% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.043, -15.312, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.043, -15.312, 0, 1); }
  22.95% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.014, -19.275, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.014, -19.275, 0, 1); }
  24.13% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.004, -15.606, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.004, -15.606, 0, 1); }
  25.29% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.01, -9.111, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.01, -9.111, 0, 1); }
  25.92% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.01, -5.84, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.01, -5.84, 0, 1); }
  26.32% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.01, -4.058, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.01, -4.058, 0, 1); }
  26.48% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.01, -3.395, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.01, -3.395, 0, 1); }
  27.64% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.008, -0.013, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.008, -0.013, 0, 1); }
  29.53% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.005, -1.622, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.005, -1.622, 0, 1); }
  34.22% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, -0.002, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, -0.002, 0, 1); }
  36.12% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.137, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.137, 0, 1); }
  39.47% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.029, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.029, 0, 1); }
  40.81% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  42.71% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.011, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.011, 0, 1); }
  45.95% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.003, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.003, 0, 1); }
  46.05% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.002, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.002, 0, 1); }
  47.19% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.375, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.375, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  47.27% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.402, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.402, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  47.37% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.434, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.434, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  48.32% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.704, 1, 0, 0, 0, 0, 1, 0, 334.897, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.704, 1, 0, 0, 0, 0, 1, 0, 334.897, 0, 0, 1); }
  49.45% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.903, 1, 0, 0, 0, 0, 1, 0, 714.76, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.903, 1, 0, 0, 0, 0, 1, 0, 714.76, 0, 0, 1); }
  49.63% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.921, 1, 0, 0, 0, 0, 1, 0, 771.405, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.921, 1, 0, 0, 0, 0, 1, 0, 771.405, 0, 0, 1); }
  50.58% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.957, 1, 0, 0, 0, 0, 1, 0, 1036.886, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.957, 1, 0, 0, 0, 0, 1, 0, 1036.886, 0, 0, 1); }
  51.9% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.922, 1, 0, 0, 0, 0, 1, 0, 1317.879, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.922, 1, 0, 0, 0, 0, 1, 0, 1317.879, 0, 0, 1); }
  53.51% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.864, 1, 0, 0, 0, 0, 1, 0, 1528.299, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.864, 1, 0, 0, 0, 0, 1, 0, 1528.299, 0, 0, 1); }
  54.16% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.849, 1, 0, 0, 0, 0, 1, 0, 1578.415, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.849, 1, 0, 0, 0, 0, 1, 0, 1578.415, 0, 0, 1); }
  56.43% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.832, 1, 0, 0, 0, 0, 1, 0, 1640.002, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.832, 1, 0, 0, 0, 0, 1, 0, 1640.002, 0, 0, 1); }
  56.43% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.832, 1, 0, 0, 0, 0, 1, 0, 1640.002, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.832, 1, 0, 0, 0, 0, 1, 0, 1640.002, 0, 0, 1); }
  62.28% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.84, 1, 0, 0, 0, 0, 1, 0, 1530.939, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.84, 1, 0, 0, 0, 0, 1, 0, 1530.939, 0, 0, 1); }
  62.28% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.84, 1, 0, 0, 0, 0, 1, 0, 1530.917, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.84, 1, 0, 0, 0, 0, 1, 0, 1530.917, 0, 0, 1); }
  68.13% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1490.654, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1490.654, 0, 0, 1); }
  68.15% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1490.654, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1490.654, 0, 0, 1); }
  72.37% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1495.816, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1495.816, 0, 0, 1); }
  79.82% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1500.624, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1500.624, 0, 0, 1); }
  91.57% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1499.958, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1499.958, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1500, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.839, 1, 0, 0, 0, 0, 1, 0, 1500, 0, 0, 1); } 
}

/* CONTACT FORM */
.contact-form,
.nf-form-cont {
	position: relative;	margin: 1.6em auto 3em auto; max-width: 600px; overflow: auto;
	}
	.contact-form p {
		margin: 0 0 1.8em 0;
		}	
	.contact-form p:last-child,
	.submit-container {
		text-align: center;
		}	
	.contact-form input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]),
	.contact-form textarea {
		width: 100%; max-width: none; display: block; font-size: 14px;
		}
	.contact-form textarea {
		height: 100px;
		}
	.contact-form .antispam { 
		display: none; 
		}

/* GRID PAGE */
.show-grid div {
 	font-size: .8em; padding-top: .9em; padding-bottom: .9em; text-align: center; margin-bottom: 1.4em; border: 1px solid #EAEEEF;
	}
	
/* SHORTCODES PAGE */
.show-buttons .button {
 	margin: 0 1em 1em 0
	}

/* Magnific Popup */
button.mfp-close,
button.mfp-arrow:before {
	background: url(../js/jquery.magnific-popup/default-skin.svg) 0 0 no-repeat; background-size: 264px 88px;
	}
button.mfp-close {
	width: 44px; height: 44px; color: transparent; background-position: 0 -44px;
	}
button.mfp-arrow { 
	width: 70px; height: 100px; opacity: .9;
	}
button.mfp-arrow:hover,
button.mfp-close:hover { 
	background-color: transparent; 
	}
button.mfp-arrow:after { 
	display: none; 
	}
button.mfp-arrow:before {
	content: ''; position: absolute; top: 35px; height: 30px; width: 32px; border: 0; margin: 0;
	}
button.mfp-arrow-left:before {
	left: 6px; background-position: -138px -44px; 
	}
button.mfp-arrow-right:before {
	left: auto; right: 6px; background-position: -94px -44px; 
	}
.mfp-title {
	position: absolute; width: 100%; line-height: 38px; text-transform: uppercase; font-size: 12px; padding-right: 0; text-align: center; font-weight: bold; letter-spacing: .04em;
	}
.mfp-counter {
	position: fixed; top: 0; left: 0; text-align: center; font-size: 24px; line-height: 1.6; font-weight: bold; color: #fff; opacity: .4; letter-spacing: -3px; 
	}
.mfp-removing button,
.mfp-removing .mfp-title { 
	opacity: 0; 
	}
.mfp-figure:after {
	box-shadow: none; 
	}	
.mfp-iframe-holder .mfp-close {
	background: none; 
	}
.mfp-ready .mfp-content {
	opacity: 0;
	}
.mfp-zoom-in .mfp-content { 
	opacity: 0; transition: all 0.2s ease-out; transform: scale(0.9);
	}
.mfp-zoom-in.mfp-bg {
	opacity: 0; transition: all 0.2s ease-out;
	}
.mfp-zoom-in.mfp-image-loaded .mfp-content {
	opacity: 1; transform: scale(1);
	}
.mfp-bg { 
	background: #212933; 
	}
.mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.95;
	}
	.mfp-zoom-in.mfp-image-loaded .mfp-content {
		opacity: 1;
		}
.mfp-zoom-in.mfp-removing .mfp-content {
	transform: scale(0.9); opacity: 0;
	}
.mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
	}
.mfp-preloader {
	width: 24px; height: 24px; opacity: 1; margin: 0 auto; background: url(../images/bckg/loading-light.gif) center center no-repeat; background-size: 24px 24px;
	}
.mfp-zoom-in.mfp-ready .mfp-preloader {
	display: block;
	}
.mfp-zoom-in.mfp-image-loaded .mfp-preloader,
.mfp-zoom-in.mfp-removing .mfp-preloader {
	display: none;
	}
/* fade image change */
.mfp-image-loaded .mfp-content {
	-webkit-animation-name: fadeIn; animation-name: fadeIn; -webkit-animation-duration: .2s; animation-duration: .2s; -webkit-backface-visibility: hidden;
	}
@-webkit-keyframes fadeIn{
	0%{ opacity:0 }
	100%{ opacity:1 }
	}
@keyframes fadeIn{
	0%{ opacity:0 }
	100%{ opacity:1 }
	}

/* BLOG */
.blog-regular .hentry {
	padding-bottom: 2em; 
	}	
.entry-title a {
 	color: inherit;
	}
.post { 
	text-align: center; 
	}
.post .entry-title { 
	margin-top: 0; 
	}
.post .entry-content { 
	max-width: 440px; margin-left: auto; margin-right: auto; 
	}

/* entry-meta */
.entry-meta {
 	color: #DCDFE2; font-weight: 700; font-size: 12px; margin-top: 1em; text-align: center; text-transform: uppercase;
	}
	.entry-meta a {
		color: #DCDFE2;
		}
	.entry-meta span {
		margin-right: 8px; margin-bottom: 12px;
		}
	.blog-regular .entry-meta .comment-link {
		display: none;
		}
	.entry-meta .cat-links a {
		display: inline-block; color: #fff; background: #8ACB82;
		}
	.entry-meta .cat-links a:hover {
		opacity: .9;
		}
	.entry-meta a {
		padding: 2px 8px; margin: 0 4px 4px 0; text-transform: uppercase; font-weight: bold;
		}
.nav-single a,
.comment-meta a,
.comment-reply-link,
.navigation a,
.post-pagination a,
.related-posts a,
.tabs .tab-titles li a {
	color: inherit;
	}
.navigation a:hover,
.post-pagination a:hover,
.entry-content a.more-link:hover {
	color: #fff; border-color: transparent;
	}
.nav-single a:active,
.comment-meta a:active,
.comment-reply-link:active,
.navigation a:active,
.post-pagination a:active,
.related-posts a:active,
.entry-content a.more-link:active {
	opacity: .8;
	}
	
/* more link */
.more {
	display: block; margin-top: 1.6em;
	}
a.more-link {
	display: inline-block; padding: 1.2em 1.4em; color: #6A7686; font-weight: 400; letter-spacing: 2px; font-size: 11px; line-height: 1; background: none; border: 1px solid #DDE4E6; text-transform: uppercase;
	}
a.more-link:hover {
 	background: #096
	}
	
/* featured image */
.featured-image {
 	margin-top: 1.4em;
	}
	.featured-image img {
 		display: block; margin: 0 auto;
		}
	
/* POST FORMATS */
.hentry .entry-header:before {
 	font-size: 28px; color: #DCDFE2; display: block; text-align: center; padding-bottom: .3em;
	}
/* sticky  */
.hentry.sticky .entry-header:before {
 	content: "\e69b";
	}
/* video  */
.format-video .entry-header:before {
 	content: "\e6a5";
	}
/* audio  */
.format-audio .entry-header:before {
 	content: "\e62f"
	}
/* image  */
.format-image .entry-header:before {
 	content: "\e6bf"
	}
/* quote  */
.format-quote .entry-content blockquote {
    text-align: center;
    }
.format-quote .entry-header:before {
 	content: "\e668"
	}
.format-quote blockquote {
 	width: 100%; margin: 0; padding: 0;
	}
.format-quote blockquote:before {
 	content: ""
	}
/* link  */
.format-link .entry-content {
    padding-top: 0;
    }
.format-link .entry-header:before {
 	content: "\e631"
	}
.format-link .entry-content  > p:first-child {
    text-align: center;
	}
.format-link .entry-content  > p:first-child a:first-child {
    font-size: 1em; font-weight: bold; word-break: break-all; padding: .5em 1.6em; margin: 1em 0; display: inline-block; color: inherit; border: 4px dashed #eee; 	
	}
.format-link .entry-content  > p:first-child a:first-child:hover {
	border-style: solid; border-color: #555;	
	}
/* gallery  */
.format-gallery .entry-header:before {
 	content: "\e626"
	}
.gallery {
	margin: 2em 0;
	width: 100%;
	width: -webkit-calc(100% + 4px);
	width:         calc(100% + 4px);
    }
.gallery:before,
.gallery:after {
 	content: " "; display: table;
	}
.gallery:after {
 	clear: both
	}
.gallery-item {
	display: block; position: relative; float: left; margin: 0 4px 4px 0;
    }
.gallery-item a {
	display: block; position: relative; float: left; margin: 0 4px 4px 0;
    }
.gallery-item a:before {
	content: ""; opacity: 0; filter: alpha(opacity = 0); position: absolute; z-index: 1; width: 100%; height: 100%; top: 0; left: 0; bottom: 0; right: 0; text-align: center; overflow: hidden; background: #33475D; background: rgba(51, 71, 93, 0.6);
	}
.gallery-item a:after {
	 opacity: 0; position: absolute; z-index: 2; left: 50%; top: 50%; margin: -33px 0 0 -33px; width: 66px; line-height: 66px; font-size: 42px; text-align: center; content: "\e6bf"; color: #fff;
	}
.gallery-item a:hover:before,
.gallery-item a:hover:after { 
	opacity: 1; 
	}
.gallery-item img {
	width: 100%;
    }
.gallery-columns-1 .gallery-item {
	max-width: 100%;
    }
.gallery-columns-2 .gallery-item {
	width: 48%;
	width: -webkit-calc(50% - 4px);
	width:         calc(50% - 4px);
    }
.gallery-columns-3 .gallery-item {
	width: 32%;
	width: -webkit-calc(33.3% - 4px);
	width:         calc(33.3% - 4px);
    }
.gallery-columns-4 .gallery-item {
	width: 23%;
	width: -webkit-calc(25% - 4px);
	width:         calc(25% - 4px);
    }
.gallery-columns-5 .gallery-item {
	width: 19%;
	width: -webkit-calc(20% - 4px);
	width:         calc(20% - 4px);
    }
.gallery-columns-6 .gallery-item {
	width: 15%;
	width: -webkit-calc(16.7% - 4px);
	width:         calc(16.7% - 4px);
    }
.gallery-columns-7 .gallery-item {
	width: 13%;
	width: -webkit-calc(14.28% - 4px);
	width:         calc(14.28% - 4px);
    }
.gallery-columns-8 .gallery-item {
	width: 11%;
	width: -webkit-calc(12.5% - 4px);
	width:         calc(12.5% - 4px);
    }
.gallery-columns-9 .gallery-item {
	width: 9%;
	width: -webkit-calc(11.1% - 4px);
	width:         calc(11.1% - 4px);
    }
.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
    }
.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
	clear: left;
    }
.gallery .gallery-caption {
    display: none; position: absolute; bottom: 0; left: 0; right: 0; max-height: 45%; margin: 0; padding: 6px 8px; text-align: center; opacity: 0; filter: alpha(opacity=0); font-size: 13px; line-height: 1.4; overflow: hidden; z-index: 999; color: #fff; background-color: #8ACB82;
    }
.gallery-caption:before {
	content: ""; height: 100%; min-height: 49px; position: absolute; top: 0; left: 0; width: 100%;
    }
.gallery-item:hover .gallery-caption {
    opacity: 1; filter: alpha(opacity=100);
    }
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
    }
/* aside  */
.format-aside .entry-header:before {
 	content: "\e69c"
	}
.format-aside .entry-content {
    text-align: center;
	}
/* status  */
.format-status .entry-content { 
	text-align: center; 
	}
.format-status .entry-header:before {
 	content: "\e638"
	}
.format-status .entry-content > p:first-child {
    display: inline-block; padding: 1em; border: 1px solid #eee; font-size: 1em; font-style: italic; line-height: 1.5;
	}
/* chat  */
.format-chat .entry-header:before {
 	content: "\e66d"
	}
.chat-row {
	text-align: left; 
	}
.chat-row:after {
 	display: table; content: ""; line-height: 0;
	}
.chat-row > div {
	display: inline-block;
	}
.chat-author {
	text-align: right; width: 100px; margin-top: 5px; font-size: 14px; text-transform: uppercase;
	}
.chat-author cite {
 	display: inline-block; min-width: 80%; margin-right: .1em; font-size: 0.9em; font-weight: 800; font-style: normal;
	}
.chat-text {
	text-align: left; padding-left: 20px;
	}
.chat-text p {
    position: relative; display: inline-block; max-width: 460px; padding: 5px 14px; margin-top: 0; margin-bottom: .6em; background: #FFF; border-radius: 4px; border: 1px solid #E9E6DF; font-size: 14px !important; line-height: 1.5 !important;
    }
.chat-text p:after {
	content: ''; position: absolute; border-style: solid; border-width: 5px 4px 5px 0; border-color: transparent #FFFFFF; display: block; width: 0; z-index: 1; left: -4px; top: 10px;
	}
.chat-text p:before {
	content: ''; position: absolute; border-style: solid; border-width: 6px 5px 6px 0; border-color: transparent #eee; display: block; width: 0; z-index: 0; left: -6px; top: 9px;
	}
.chat-speaker-2 .chat-author cite {
	font-style: italic;
    }
.chat-speaker-2 .chat-text p {
    border-color: #E9E6DF;
    }
.chat-speaker-2 .chat-text p:before {
    border-color: transparent #E9E6DF;
    }

/* PAGINATION */
.navigation,
.post-pagination {
 	padding: 3em 0; font-size: 11px; letter-spacing: 2px; overflow: auto;
	}
	.navigation > div {
 		width: 50%; float: left;
		}
	.navigation a,
	.post-pagination a {
 		display: inline-block; padding: 1.5em 2.0em; color: #6A7686; border: 1px solid #DDE4E6; text-transform: uppercase;
		}
	.navigation .nav-next {
 		text-align: right
		}
	.navigation .meta-nav {
 		margin-right: .5em
		}
	.navigation .nav-next .meta-nav {
 		margin-left: .5em; margin-right: 0;
		}
	/* NUMBERED PAGINATION */
	.post-pagination ul {
 		list-style: none; text-align: center; padding: 0;
		}
	.post-pagination li {
 		display: inline-block; font-size: .9em; margin: .3em .1em;
		}
		.post-pagination li a {
 			padding: .8em 1.4em; margin: 0 4px;
			}
	.post-pagination li.current a,
	.post-pagination li.current a:hover {
 		border-color: #6A7686; font-weight: 800; background: #fff; color: #6A7686; cursor: default;
		}

/* BLOG SINGLE */
.blog-single .hentry {
	padding-bottom: 2em;
	}
.blog-single .entry-meta {
 	line-height: 1.9; text-align: center; padding-bottom: 20px;
	}
.blog-single .entry-content { 
	text-align: left; 
	}
/* nav single */
.nav-single {
	padding: 3em 0; text-transform: uppercase;
	}
	.nav-single h6 {
 		font-size: 11px; letter-spacing: 1px; color: #DCDFE2;
		}
	.nav-single h5 {
 		font-size: 14px; font-weight: 400; line-height: 1.4; letter-spacing: -.03em;
		}
	.nav-single .meta-nav {
 		margin-right: .6em
		}
	.nav-single .nav-next .meta-nav {
 		margin-left: .6em; margin-right: 0;
		}
	.nav-single .nav-next {
 		text-align: right
		}
		
/* TAGS  */
.tags.entry-meta {
 	margin: 0 0 1em 0; padding: 1em .2em; list-style: none; text-align: left;
	}
	.tags li {
 		display: inline-block
		}
	.tags a,
	.tagcloud a {
 		display: inline-block; line-height: 24px; font-size: 10px; font-weight: bold; position: relative; margin: 0 4px 8px 12px; padding: 0 10px 0 12px; background: #EAEEEF; text-transform: uppercase; color: #6A7686; border-radius: 0 2px 2px 0;
		}
	.tags a:hover {
		color: #345;
		}
	.tags a:before,
	.tagcloud a:before {
 		content: ""; float: left; position: absolute; top: 0px; left: -11px; width: 0; height: 0; border-color: transparent; border-right-color: #EAEEEF; border-style: solid; border-width: 12px 11px 12px 0;
		}
	.tags a:after,
	.tagcloud a:after {
 		content: ""; position: absolute; top: 9px; left: 0; float: left; width: 6px; height: 6px; border-radius: 50%; background: #fff;
		}
	
/* RELATED POSTS */
.related-posts {
 	padding: 2em 0 0; text-align: center;
	}
	.related-posts .media-grid {
		min-height: 0; overflow: hidden;
		}
	.related-posts .media-grid .media-cell {
 		margin-bottom: 0;
		}
	.related-posts .mask:before {
		font-size: 32px;
		}
	.related-posts .media-cell-desc {
		padding: 20px;
		}
	
/* COMMENTS */
.comments-title {
	margin-bottom: 1.2em; 
	}
.comments-area {
 	padding: 0;
	}
.comments-area ol {
 	list-style: none; margin: 0; padding: 0;
	}
    .commentlist {
 	padding: 0; line-height: 1.6;
	}
	.comments-area ol ol {
 		margin-left: 6%
		}
.comments-area article {
    position: relative; padding: .6em 0; margin-bottom: .8em; border-bottom: 1px solid #F4F3EF;
    }   
.commentlist > li:last-child > article {
    border-bottom: 0;
    }
.comment-meta {
    text-transform: uppercase;
    }
.comment-meta img {
    display: block; float: left; margin: 0 1.0em 0 0; border-radius: 50%; max-width: 52px; 
	}
.comment-meta .fn {
    display: block; font-size: 13px; font-weight: 700; font-style: normal; padding-top: 0.2em;
    }
.comment-meta .comment-date {
    display: block; font-size: 11px; font-weight: 400; color: #C5CAD0;
    }
.comment-content {
    padding-top: .1em; clear: left;
	}
	.comment-content p {
 		margin: .8em 0 .2em 0; font-size: 0.875em;
		}
.comment .reply {
    text-align: right; font-weight: 700; font-size: 11px; letter-spacing: 1px; text-transform: uppercase;
	}
/* comment by post author  */
.bypostauthor > article {
	border-bottom-width: 4px;
	}
	
/* COMMENT FORM */
#respond {
 	padding: 0 0 1em 0; margin: 1em 0;
	}
#reply-title {
	margin-bottom: 1.5em; 
	}
	#reply-title small {
		padding-left: 14px; text-transform: uppercase; font-size: 16px;
		}
.form-allowed-tags,
.comment-notes {
 	display: none; font-size: .9em;
	}
	.form-allowed-tags code {
 		margin-top: 1em
		}
.form-submit {
 	margin-top: 2em
	}

/* FOOTER */
.site-footer {
	position: relative; z-index: 200; width: 100%; padding: 1.2em 0 0 0;background-color: #F4F7FA;
	}
.site-footer .layout-medium {
	max-width: 880px;
	}

/* WIDGET AREA */
.widget-area { 
    padding: 2em 0; overflow: hidden;
    }
.widget-area .widget { 
    padding: 0 0 2em 0; 
    }
.widget-area a { 
    color: #334455; 
    }
.widget-area a:hover { 
    color: #1C262B; 
    }
.widget-title { 
    margin-bottom: 1.6em; font-size: 11px; text-transform: uppercase; letter-spacing: 0; font-weight: 700; color: rgba(28, 38, 43, 0.2);
    }
.widget-area ul li { 
    font-size: .875em; 
    }
.widget-area ul ul ul li {
    font-size: inherit;
	}
.widget label input {
	font-size: 13px !important; font-weight: 400;
	}
.widget-area iframe {
 	width: 100% !important; max-height: 290px;
	}

/* DEFAULT WIDGETS */
.widget-area ul { 
    margin-left: 1.2em; padding-left: 0; 
    }
.widget-area ul li { 
    position:relative; margin-bottom:.4em; line-height:1.5; 
    }

/* recent entries widget */
.widget_recent_entries ul { 
    margin-left: 0; list-style: none;
    }
.widget_recent_entries ul li { 
    margin: 0; padding: 1em 0 .5em 0; font-size: 14px; border-bottom: 1px solid rgba(28, 38, 43, 0.05);
    }
.widget_recent_entries ul li:last-child { 
    border-bottom: 0;
    }

/* recent comments widget */
.widget_recent_comments ul li { 
    font-style: italic; 
    }
.widget_recent_comments ul li a { 
    font-style: normal; 
    }
.widget_recent_comments ul li a:nth-of-type(2) { 
    font-weight: bold; 
    }

/* pages widget */
.widget_pages ul ul li { 
    font-size: 1em; 
    }

/* text widget */
.textwidget { 
    font-size: .875em;
    }
.textwidget img { 
	margin-bottom: 1em;
    }

/* rss widget */
.widget_rss .rss-date, 
.widget_rss cite:before { 
    text-align:left; font-style:italic; color:#bbb; 
    }
.widget_rss .rss-date { 
    margin-left:1em; font-size:.875em; 
    }
.widget_rss ul li { 
    padding-bottom: 1.4em;
    }
.widget_rss ul li a.rsswidget { 
    font-weight:bold; 
    }
.widget_rss .widget-title img { 
    margin-right:.1em; 
    }
.widget_rss cite { 
    display:block; margin-top:.6em; text-align:right; 
    }
.widget_rss cite:before { 
    content:"by "; 
    }
.widget_rss .rssSummary { 
    padding-top:.2em; 
    }

/* tag cloud widget */
.tagcloud a { 
    font-size: 10px !important; font-weight: 400; color: #6A7686;
    }

/* categories widget */
.widget_categories ul,
.widget_archive ul { 
    list-style: none; margin-left: 0; 
    }
.widget_categories ul li.cat-item {
    margin-bottom: .6em;
    }
.widget_categories ul li.cat-item a,
.widget_archive li a {
    padding: 7px 0; margin: 0px; font-size: 14px; font-weight: bold; text-transform: uppercase; border-bottom: 1px solid rgba(28, 38, 43, 0.05); display: block;
    }
.widget_categories ul li:last-child a { 
    border-bottom: 0;
    }

/* search widget */
.widget_search .search-submit { 
    margin-top: 12px; font-size: 11px;
    }

/* calendar widget */
.widget_calendar table { 
    width: 100%; max-width: 280px; margin-bottom: 0; font-size: 13px;
    }
.widget_calendar thead { 
    display: none;
    }
.widget_calendar table caption { 
    text-align: left; font-style: italic; padding-bottom: 8px; padding-left: 10px;
    }
.widget_calendar table tr td, 
.widget_calendar table tr th { 
    padding: .5em 0;
    }
.widget_calendar tbody a { 
    font-weight: 700; 
    }
.widget_calendar tfoot { 
    font-size: 13px; 
    }
.widget_calendar tfoot #prev { 
    text-align: left; 
    }
.widget_calendar tfoot #next { 
    text-align: right; 
    }

/* CUSTOM WIDGETS */

/* SOCIAL FEED */
.social-feed ul,
.null-instagram-feed ul {
    margin-left: 0; list-style: none; 
    }
.social-feed ul li,
.null-instagram-feed ul li { 
    display:inline-block; padding: 0 4px 4px 0; font-size: 0;
    }
.social-feed ul li img,
.null-instagram-feed ul li img { 
    max-width: 80px; max-height: 100%; 
    }

/* TOP10 Popular Posts Widget */
.tptn_posts ul {
	list-style: none; margin: 0;
	}
.tptn_posts ul li {
	display: block; clear: left; overflow: hidden; margin-bottom: 1em;
	}
.tptn_posts img {
	float: left; margin-right: 16px; max-height: 76px; width: auto;
	}
.tptn_posts .tptn_link {
	display: block;
	}
.tptn_posts .tptn_after_thumb > span {
	font-size: 13px; color: #DAD8D1; margin-right: 6px;
	}
	

/* PORTFOLIO SINGLE */
.p-overlay {
 	display: none; position: relative; z-index: 3000; width: 100%; min-height: 100%; background: #fff;
	}
.modern-layout .p-overlay {
 	position: fixed; z-index: 999; top: 0; left: 0; bottom: 0; right: 0; min-height: 100%; overflow: auto; -webkit-overflow-scrolling: touch;
	-webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-fill-mode: both; animation-fill-mode: both;
	}
.p-overlay-on .site {
	height: auto; 
	}
.p-overlay-on .site-main {
 	position: fixed; top: 0; left: 0; right: 0; height: 100%; overflow: hidden;
	}
.animate-in{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}
@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translateY(20px);transform:translateY(20px)}100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}}
@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translateY(20px);-ms-transform:translateY(20px);transform:translateY(20px)}100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}}
@-webkit-keyframes fadeOutDown{0%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}100%{opacity:0;-webkit-transform:translateY(20px);transform:translateY(20px)}}
@keyframes fadeOutDown{0%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}100%{opacity:0;-webkit-transform:translateY(20px);-ms-transform:translateY(20px);transform:translateY(20px)}}
.animate-out{-webkit-animation-name:fadeOutDown;animation-name:fadeOutDown}
.p-overlay .page-layout {
	position: relative !important; padding: 0;
	}
.portfolio-single { 
	text-align: center; 
	}
.portfolio-single .entry-content {
	padding-top: 1em;
	}
.mini-text {
	max-width: 400px; margin: 2em auto 3em; text-align: center;
	}
.portfolio-single .entry-content img,
.portfolio-single .entry-content .fluid-width-video-wrapper,
.portfolio-single .entry-content iframe,
.portfolio-single .entry-content video {
	margin-bottom: 2em; margin-top: 0;
	}
.portfolio-single .entry-content .gallery-item img {
	margin: 0;
    }
/* portfolio single nav  */
.portfolio-nav {
 	text-align: center; margin-bottom: 1em;
	}
.portfolio-nav a {
 	display: inline-block; text-align: center; padding: 0; line-height: 24px; font-size: 30px; color: #1C262B; border: 1px solid rgba(28, 38, 43, 0.1); cursor: pointer; border-radius: 50%;
	}
.portfolio-nav a:hover {
	color: #fff; border-color: transparent; background-color: #8ACB82;
	}
.portfolio-nav a:before {
	line-height: 1;
	}
.portfolio-nav a.prev:before {
 	content: "\e686";
	}
.portfolio-nav a.next:before {
 	content: "\e684";
	}
.portfolio-nav a.back {
 	display: none;
	}
.portfolio-nav a.back:before {
 	content: "\e680";
	}
.portfolio-nav a.back:hover {
 	background: #345
	}
.one-page-layout .portfolio-nav a.back {
 	display: inline-block;
	}



	
/*  --------------------------------------------

	6. THEME (@theme) - customize colors etc...
	
    -------------------------------------------- */
body {
 	color: #345; background: #2E363A;
	}
/* Links */
a {
 	color: #096;
	}
a:hover {
 	color: #8ACB82;
	}

/* Text Selection */
::selection {
 	text-shadow: none; color: #333; background: #FFFFCF;
	}
::-moz-selection {
 	text-shadow: none; color: #333; background: #FFFFCF;
	}

/* HEADER */
.header,
.header-wrap {
	background: #1c262b;
	}

/* SITE TITLE */
.site-title { color: #fff; }
@media screen and (min-width: 768px) { 
	.site-title { background: #2BA163; }
}
	
/* PRIMARY COLOR : #8ACB82 */
input[type=submit]:hover,
input[type=button]:hover,
button:hover,
a.button:hover,
.event h3,
.event h2 + p i, 
.event h2 + p img,
#search-submit,
.entry-meta .cat-links a,
.pagination a:hover,
.navigation a:hover,
a.more-link:hover,
.section-title h2 i,
.event:nth-of-type(2):after  {
 	background-color: #8ACB82;
	}
.section-title h2:after, 
.section-title h2:before {
	background-color: #7DB376; /* darken primary color for ribbon shadow effect */
	}
.bypostauthor > article {
	border-color: #8ACB82
	}
.event h3:before {
	border-color: #8ACB82;
	}

/* PROGRESS BAR COLOR */
#nprogress .bar {
 	background-color: #FFFC00;
	}
#nprogress .spinner-icon {
  	border-top-color: #FFFC00; border-left-color: #FFFC00;
	}